<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BuildVersion</key>
    <string>34A20020</string>
    <key>ConnectedBus</key>
    <string>USB</string>
    <key>MaxTransferSpeed</key>
    <integer>61440</integer>
    <key>FamilyID</key>
    <integer>16</integer>
    <key>MLBN</key>
    <string>J59452XSDAVTA</string>
    <key>rbsync</key>
    <data>ASsAITGlQ1JD5HtPP952tpzpc5J5DMR9kQImoBN3acyhKhdzyt5uWBwpEEteu3xh
wIv3FsrMWQgACicAHuktUQAAAAAAAAAAAAAAAAAAM17TPiclEiBj4Bz/HkXhPeV3
gPTRVw==</data>
    <key>FireWireGUID</key>
    <string>REPLACE_ME_WITH_FIREWIRE_GUID</string>
    <key>FireWireVersion</key>
    <string>1.70</string>
    <key>MinITunesVersion</key>
    <string>9.0</string>
    <key>PlaylistFoldersSupported</key>
    <true/>
    <key>SerialNumber</key>
    <string>YM945ZVR721</string>
    <key>UpdaterFamilyID</key>
    <integer>34</integer>
    <key>VisibleBuildID</key>
    <string>1.0.2</string>
    <key>64Bit</key>
    <integer>3</integer>
    <key>OEMID</key>
    <integer>0</integer>
    <key>OEMU</key>
    <integer>16</integer>
    <key>DBVersion</key>
    <integer>3</integer>
    <key>SQLiteDB</key>
    <true/>
    <key>RBRequestVersion</key>
    <integer>3</integer>
    <key>KeyTypeSupportVersion</key>
    <integer>1</integer>
    <key>FairPlayDeviceType</key>
    <integer>43</integer>
    <key>MinBuildID</key>
    <string>1.0.0</string>
    <key>Language</key>
    <string>en-US</string>
    <key>MediaAvailable</key>
    <true/>
    <key>ForcedDiskMode</key>
    <false/>
    <key>BangFolder</key>
    <false/>
    <key>CanFlashBacklight</key>
    <true/>
    <key>CanHibernate</key>
    <true/>
    <key>CameWithCD</key>
    <false/>
    <key>SupportsSparseArtwork</key>
    <true/>
    <key>MaxThumbFileSize</key>
    <integer>50</integer>
    <key>RAM</key>
    <integer>64</integer>
    <key>NativeBlockSize</key>
    <integer>4096</integer>
    <key>HotPlugState</key>
    <integer>0</integer>
    <key>BatteryPollInterval</key>
    <integer>30</integer>
    <key>SortFieldsSupported</key>
    <true/>
    <key>MaxFileSizeInGB</key>
    <integer>4</integer>
    <key>MaxTracks</key>
    <integer>65534</integer>
    <key>OEMA</key>
    <integer>1</integer>
    <key>AppleDRMVersion</key>
    <dict>
      <key>Minimum</key>
      <integer>0</integer>
      <key>Maximum</key>
      <integer>4</integer>
      <key>Format</key>
      <integer>1</integer>
    </dict>
    <key>AudioCodecs</key>
    <dict>
      <key>AIFF</key>
      <dict>
        <key>Mono</key>
        <true/>
        <key>Stereo</key>
        <true/>
        <key>Multichannel</key>
        <false/>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>MaximumBitDepth</key>
        <integer>16</integer>
      </dict>
      <key>MP3</key>
      <dict>
        <key>Mono</key>
        <true/>
        <key>Stereo</key>
        <true/>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>MaximumDataRate</key>
        <integer>320</integer>
      </dict>
      <key>WAV</key>
      <dict>
        <key>Mono</key>
        <true/>
        <key>Stereo</key>
        <true/>
        <key>Multichannel</key>
        <false/>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>MaximumBitDepth</key>
        <integer>16</integer>
      </dict>
      <key>AAC</key>
      <dict>
        <key>AppleDRM</key>
        <true/>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>LC</key>
        <dict>
          <key>VariableBitRate</key>
          <true/>
          <key>PerceptualNoiseSubsitution</key>
          <true/>
        </dict>
      </dict>
      <key>AppleLossless</key>
      <dict>
        <key>Mono</key>
        <true/>
        <key>Stereo</key>
        <true/>
        <key>Multichannel</key>
        <false/>
        <key>MaximumBitDepth</key>
        <integer>32</integer>
        <key>MaximumBitDepthUntruncated</key>
        <integer>16</integer>
        <key>MaximumSampleRate</key>
        <integer>48000</integer>
        <key>AppleDRM</key>
        <true/>
      </dict>
      <key>Audible</key>
      <dict>
        <key>Type1</key>
        <false/>
        <key>Type2</key>
        <true/>
        <key>Type3</key>
        <true/>
        <key>Type4</key>
        <true/>
        <key>AAC</key>
        <true/>
      </dict>
    </dict>
    <key>ImageSpecifications</key>
    <array>
      <dict>
        <key>FormatId</key>
        <integer>1087</integer>
        <key>RenderWidth</key>
        <integer>384</integer>
        <key>RenderHeight</key>
        <integer>384</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <false/>
        <key>AlignRowBytes</key>
        <false/>
        <key>AssociatedFormat</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>FormatId</key>
        <integer>1081</integer>
        <key>RenderWidth</key>
        <integer>640</integer>
        <key>RenderHeight</key>
        <integer>480</integer>
        <key>PixelFormat</key>
        <string>6A706567</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <false/>
        <key>AlignRowBytes</key>
        <false/>
        <key>processForNTSC</key>
        <true/>
        <key>AssociatedFormat</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>FormatId</key>
        <integer>1079</integer>
        <key>RenderWidth</key>
        <integer>80</integer>
        <key>RenderHeight</key>
        <integer>80</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <true/>
        <key>AlignRowBytes</key>
        <false/>
        <key>AssociatedFormat</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>FormatId</key>
        <integer>1066</integer>
        <key>RenderWidth</key>
        <integer>64</integer>
        <key>RenderHeight</key>
        <integer>64</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <true/>
        <key>AlignRowBytes</key>
        <true/>
        <key>BackColor</key>
        <string>00000000</string>
        <key>AssociatedFormat</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>AlbumArt</key>
    <array>
      <dict>
        <key>FormatId</key>
        <integer>1056</integer>
        <key>RenderWidth</key>
        <integer>128</integer>
        <key>RenderHeight</key>
        <integer>128</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <false/>
        <key>AlignRowBytes</key>
        <true/>
        <key>BackColor</key>
        <string>00000000</string>
        <key>AssociatedFormat</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>FormatId</key>
        <integer>1068</integer>
        <key>RenderWidth</key>
        <integer>128</integer>
        <key>RenderHeight</key>
        <integer>128</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <false/>
        <key>AlignRowBytes</key>
        <true/>
        <key>BackColor</key>
        <string>FFFFFFFF</string>
        <key>AssociatedFormat</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>FormatId</key>
        <integer>1078</integer>
        <key>RenderWidth</key>
        <integer>80</integer>
        <key>RenderHeight</key>
        <integer>80</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <true/>
        <key>AlignRowBytes</key>
        <false/>
        <key>AssociatedFormat</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>FormatId</key>
        <integer>1073</integer>
        <key>RenderWidth</key>
        <integer>240</integer>
        <key>RenderHeight</key>
        <integer>240</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <false/>
        <key>AlignRowBytes</key>
        <true/>
        <key>BackColor</key>
        <string>00000000</string>
        <key>AssociatedFormat</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>FormatId</key>
        <integer>1084</integer>
        <key>RenderWidth</key>
        <integer>240</integer>
        <key>RenderHeight</key>
        <integer>240</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <false/>
        <key>AlignRowBytes</key>
        <true/>
        <key>BackColor</key>
        <string>00000000</string>
        <key>AssociatedFormat</key>
        <integer>1024</integer>
      </dict>
      <dict>
        <key>FormatId</key>
        <integer>1074</integer>
        <key>RenderWidth</key>
        <integer>50</integer>
        <key>RenderHeight</key>
        <integer>50</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <false/>
        <key>AlignRowBytes</key>
        <true/>
        <key>BackColor</key>
        <string>00000000</string>
        <key>AssociatedFormat</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>com.apple.mobile.iTunes.SQLMusicLibraryPostProcessCommands</key>
    <dict>
      <key>UserVersionCommandSets</key>
      <dict>
        <key>9</key>
        <dict>
          <key>Commands</key>
          <array>
            <string>DropTrackArtist</string>
            <string>CreateTrackArtist</string>
            <string>PopulateTrackArtist</string>
            <string>AddItemTrackArtist</string>
            <string>LinkItemTrackArtist</string>
            <string>CreateIndexForItemTrackArtistPid</string>
            <string>CreateTempIndexForItemArtistPid</string>
            <string>AddTrackArtistIsUnknown</string>
            <string>CreateUnknownTrackArtist</string>
            <string>FixUnknownTrackArtists</string>
            <string>LinkUnknownTrackArtist</string>
            <string>UpdateArtistHasNonCompilationTracks</string>
            <string>AddArtistIsUnknown</string>
            <string>CreateUnknownArtist</string>
            <string>FixUnknownArtists</string>
            <string>LinkUnknownArtist</string>
            <string>AddAlbumIsUnknown</string>
            <string>CreateUnknownAlbum</string>
            <string>FixUnknownAlbums</string>
            <string>LinkUnknownAlbum</string>
            <string>CreateIndexForItemAlbumPid</string>
            <string>AddGenreIsUnknown</string>
            <string>CreateUnknownGenre</string>
            <string>LinkUnknownGenre</string>
            <string>AddComposerIsUnknown</string>
            <string>CreateUnknownComposer</string>
            <string>LinkUnknownComposer</string>
            <string>AddAlbumArtistHasSongs</string>
            <string>UpdateAlbumArtistHasSongs</string>
            <string>UpdateArtistHasSongs</string>
            <string>AddAlbumArtistHasMusicVideos</string>
            <string>UpdateAlbumArtistHasMusicVideos</string>
            <string>UpdateArtistHasMusicVideos</string>
            <string>AddAlbumHasSongs</string>
            <string>InsertAlbumHasSongs</string>
            <string>AddAlbumHasMusicVideos</string>
            <string>InsertAlbumHasMusicVideos</string>
            <string>AddAlbumSortAlbum</string>
            <string>InsertAlbumSortAlbum</string>
            <string>AddAlbumArtistOrder</string>
            <string>InsertAlbumArtistOrder</string>
            <string>AddAlbumAnyCompilation</string>
            <string>UpdateAlbumAnyCompilation</string>
            <string>AddGenreHasMusic</string>
            <string>InsertGenreHasMusic</string>
            <string>AddComposerHasMusic</string>
            <string>InsertComposerHasMusic</string>
            <string>CreateItemToContainerTempIndex</string>
            <string>AddFallbackSortOrderForItem</string>
            <string>PopulateFallbackSortOrderForItem</string>
            <string>DropItemToContainerTempIndex</string>
            <string>AddTrackArtistAlbumCount</string>
            <string>PopulateTrackArtistAlbumCount</string>
            <string>CreateRentalExpiredColumn</string>
            <string>CreateAlbumSortName</string>
            <string>UpdateAlbumSortName</string>
            <string>AddItemHasLyrics</string>
            <string>UpdateItemHasLyrics</string>
            <string>AddItemDateReleased</string>
            <string>UpdateItemDateReleased</string>
            <string>FixUnknownTVSeries</string>
            <string>CreateArtistsForTVSeries</string>
            <string>UpdateArtistForTVSeries</string>
            <string>UpdateSortArtistForTVSeries</string>
            <string>UpdateTrackArtistPidForTVSeries</string>
            <string>CreatePlayCountUserOriginal</string>
            <string>CreateSkipCountUserOriginal</string>
            <string>UpdatePlayCountUserOriginal</string>
            <string>UpdateSkipCountUserOriginal</string>
            <string>DropTempIndexForItemArtistPid</string>
            <string>CreateArtistSortOrderIndex</string>
            <string>CreateItemToContainerPhysicalOrderIndex</string>
            <string>CreateItemToContainerContainerPIDIndex</string>
            <string>CreateItemTitleOrderIndex</string>
            <string>CreateItemAlbumOrderIndex</string>
            <string>CreateItemGenreIdIndex</string>
            <string>DropTrackSize</string>
            <string>CreateTrackSize</string>
            <string>PopulateTrackSizeAudio</string>
            <string>PopulateTrackSizeVideo</string>
            <string>PopulateTrackSizeMusicVideo</string>
            <string>AddAlbumArtistCount</string>
            <string>UpdateAlbumArtistCount</string>
            <string>AddGenreMapArtistCount</string>
            <string>AddGenreMapAlbumCount</string>
            <string>UpdateGenreMapArtistCount</string>
            <string>UpdateGenreMapAlbumCount</string>
            <string>UpdateDeviceUpdateLevelTo1100</string>
          </array>
        </dict>
      </dict>
      <key>SQLCommands</key>
      <dict>
        <key>DropTrackArtist</key>
        <string>DROP TABLE IF EXISTS track_artist;</string>
        <key>CreateTrackArtist</key>
        <string>CREATE TABLE track_artist (pid INTEGER NOT NULL, name TEXT, name_order INTEGER, sort_name TEXT, has_songs INTEGER DEFAULT 0, has_music_videos INTEGER DEFAULT 0, has_non_compilation_tracks INTEGER DEFAULT 0, PRIMARY KEY (pid));</string>
        <key>PopulateTrackArtist</key>
        <string>INSERT INTO track_artist ( name, sort_name, name_order ) SELECT DISTINCT artist, sort_artist, artist_order FROM item GROUP BY artist_order;</string>
        <key>AddItemTrackArtist</key>
        <string>ALTER TABLE item ADD COLUMN track_artist_pid INTEGER DEFAULT 0;</string>
        <key>LinkItemTrackArtist</key>
        <string>UPDATE item SET track_artist_pid = (SELECT pid FROM track_artist WHERE item.artist_order = track_artist.name_order AND item.artist IS NOT NULL);</string>
        <key>CreateIndexForItemTrackArtistPid</key>
        <string>CREATE INDEX idx_item_track_artist_pid ON item (track_artist_pid);</string>
        <key>CreateTempIndexForItemArtistPid</key>
        <string>CREATE INDEX idx_temp_item_artist_pid ON item (artist_pid);</string>
        <key>AddTrackArtistIsUnknown</key>
        <string>ALTER TABLE track_artist ADD COLUMN is_unknown INTEGER DEFAULT 0;</string>
        <key>CreateUnknownTrackArtist</key>
        <string>INSERT INTO track_artist (name, name_order, sort_name, is_unknown) VALUES ('Unknown Artist', 4294967295, 'Unknown Artist', 1);</string>
        <key>FixUnknownTrackArtists</key>
        <string>UPDATE item SET track_artist_pid = (SELECT pid FROM track_artist WHERE track_artist.pid == item.track_artist_pid AND track_artist.name IS NOT NULL);</string>
        <key>LinkUnknownTrackArtist</key>
        <string>UPDATE item SET track_artist_pid = (SELECT pid FROM track_artist WHERE is_unknown == 1) WHERE track_artist_pid IS NULL;</string>
        <key>UpdateArtistHasNonCompilationTracks</key>
        <string>UPDATE track_artist SET has_non_compilation_tracks = (SELECT item.is_compilation FROM item WHERE item.track_artist_pid == track_artist.pid AND item.is_compilation = 0 LIMIT 1) IS NOT NULL;</string>
        <key>AddArtistIsUnknown</key>
        <string>ALTER TABLE artist ADD COLUMN is_unknown INTEGER DEFAULT 0;</string>
        <key>CreateUnknownArtist</key>
        <string>INSERT INTO artist (kind, artwork_status, artwork_album_pid, name, name_order, sort_name, is_unknown) VALUES (2, 0, 0, 'Unknown Artist', 4294967295, 'Unknown Artist', 1);</string>
        <key>FixUnknownArtists</key>
        <string>UPDATE item SET artist_pid = (SELECT artist_pid FROM artist WHERE artist.pid == item.artist_pid AND artist.name IS NOT NULL);</string>
        <key>LinkUnknownArtist</key>
        <string>UPDATE item SET artist_pid = (SELECT pid FROM artist WHERE is_unknown == 1) WHERE artist_pid IS NULL;</string>
        <key>AddAlbumIsUnknown</key>
        <string>ALTER TABLE album ADD COLUMN is_unknown INTEGER DEFAULT 0;</string>
        <key>CreateUnknownAlbum</key>
        <string>INSERT INTO album (name, name_order, kind, artist_pid, artwork_status, artwork_item_pid, user_rating, all_compilations, season_number, is_unknown) VALUES ('Unknown Album', 4294967295, 2, (SELECT pid FROM artist WHERE is_unknown==1), 0, 0, 0, 0, 0, 1);</string>
        <key>FixUnknownAlbums</key>
        <string>UPDATE item SET album_pid = (SELECT album_pid FROM album WHERE album.pid == item.album_pid AND album.name IS NOT NULL);</string>
        <key>LinkUnknownAlbum</key>
        <string>UPDATE item SET album_pid = (SELECT pid FROM album WHERE is_unknown == 1) WHERE album_pid IS NULL;</string>
        <key>CreateIndexForItemAlbumPid</key>
        <string>CREATE INDEX idx_item_album_pid ON item (album_pid);</string>
        <key>AddGenreIsUnknown</key>
        <string>ALTER TABLE genre_map ADD COLUMN is_unknown INTEGER DEFAULT 0;</string>
        <key>CreateUnknownGenre</key>
        <string>INSERT INTO genre_map (genre, genre_order, is_unknown) VALUES ('Unknown Genre', 4294967295, 1);</string>
        <key>LinkUnknownGenre</key>
        <string>UPDATE item SET genre_id = (SELECT id FROM genre_map WHERE is_unknown == 1) WHERE genre_id == 0;</string>
        <key>AddComposerIsUnknown</key>
        <string>ALTER TABLE composer ADD COLUMN is_unknown INTEGER DEFAULT 0;</string>
        <key>CreateUnknownComposer</key>
        <string>INSERT INTO composer (name, name_order, sort_name, is_unknown) VALUES ('Unknown Composer', 4294967295, 'Unknown Composer', 1);</string>
        <key>LinkUnknownComposer</key>
        <string>UPDATE item SET composer_pid = (SELECT pid FROM composer WHERE is_unknown == 1) WHERE composer_pid == 0 ;</string>
        <key>AddAlbumArtistHasSongs</key>
        <string>ALTER TABLE artist ADD COLUMN has_songs INTEGER DEFAULT 0;</string>
        <key>UpdateAlbumArtistHasSongs</key>
        <string>UPDATE artist SET has_songs = (SELECT item.is_song FROM item WHERE item.artist_pid == artist.pid AND item.is_song = 1 LIMIT 1) IS NOT NULL;</string>
        <key>UpdateArtistHasSongs</key>
        <string>UPDATE track_artist SET has_songs = (SELECT item.is_song FROM item WHERE item.track_artist_pid == track_artist.pid AND item.is_song = 1 LIMIT 1) IS NOT NULL;</string>
        <key>AddAlbumArtistHasMusicVideos</key>
        <string>ALTER TABLE artist ADD COLUMN has_music_videos INTEGER DEFAULT 0;</string>
        <key>UpdateAlbumArtistHasMusicVideos</key>
        <string>UPDATE artist SET has_music_videos = (SELECT item.is_music_video FROM item WHERE item.artist_pid == artist.pid AND item.is_music_video = 1 LIMIT 1) IS NOT NULL;</string>
        <key>UpdateArtistHasMusicVideos</key>
        <string>UPDATE track_artist SET has_music_videos = (SELECT item.is_music_video FROM item WHERE item.track_artist_pid == track_artist.pid AND item.is_music_video = 1 LIMIT 1) IS NOT NULL;</string>
        <key>AddAlbumHasSongs</key>
        <string>ALTER TABLE album ADD COLUMN has_songs INTEGER DEFAULT 0;</string>
        <key>InsertAlbumHasSongs</key>
        <string>UPDATE album SET has_songs = (SELECT item.is_song FROM item WHERE item.album_pid == album.pid AND item.is_song == 1 LIMIT 1) IS NOT NULL;</string>
        <key>AddAlbumHasMusicVideos</key>
        <string>ALTER TABLE album ADD COLUMN has_music_videos INTEGER DEFAULT 0;</string>
        <key>InsertAlbumHasMusicVideos</key>
        <string>UPDATE album SET has_music_videos = (SELECT item.is_music_video FROM item WHERE item.album_pid == album.pid AND item.is_music_video == 1 LIMIT 1) IS NOT NULL;</string>
        <key>AddAlbumSortAlbum</key>
        <string>ALTER TABLE album ADD COLUMN sort_order INTEGER DEFAULT 0;</string>
        <key>InsertAlbumSortAlbum</key>
        <string>UPDATE album SET sort_order = (SELECT item.album_order FROM item WHERE item.album_pid == album.pid LIMIT 1);</string>
        <key>AddAlbumArtistOrder</key>
        <string>ALTER TABLE album ADD COLUMN artist_order INTEGER DEFAULT 0;</string>
        <key>InsertAlbumArtistOrder</key>
        <string>UPDATE album SET artist_order = (SELECT name_order FROM artist WHERE album.artist_pid = artist.pid LIMIT 1);</string>
        <key>AddAlbumAnyCompilation</key>
        <string>ALTER TABLE album ADD COLUMN has_any_compilations INTEGER DEFAULT 0;</string>
        <key>UpdateAlbumAnyCompilation</key>
        <string>UPDATE album SET has_any_compilations = (SELECT item.is_compilation FROM item WHERE item.album_pid == album.pid AND item.is_compilation == 1 LIMIT 1) IS NOT NULL;</string>
        <key>AddGenreHasMusic</key>
        <string>ALTER TABLE genre_map ADD COLUMN has_music INTEGER DEFAULT 0;</string>
        <key>InsertGenreHasMusic</key>
        <string>UPDATE genre_map SET has_music =  (SELECT is_song FROM item WHERE item.genre_id = genre_map.id AND item.media_kind &amp; 33 LIMIT 1) IS NOT NULL;</string>
        <key>CreateItemToContainerTempIndex</key>
        <string>CREATE INDEX item_to_container_temp_idx ON item_to_container (item_pid, container_pid);</string>
        <key>AddFallbackSortOrderForItem</key>
        <string>ALTER TABLE item ADD COLUMN physical_order INTEGER;</string>
        <key>PopulateFallbackSortOrderForItem</key>
        <string>UPDATE item SET physical_order = (SELECT physical_order FROM item_to_container WHERE container_pid == (SELECT primary_container_pid FROM db_info LIMIT 1) AND item_pid = item.pid);</string>
        <key>DropItemToContainerTempIndex</key>
        <string>DROP INDEX item_to_container_temp_idx;</string>
        <key>AddTrackArtistAlbumCount</key>
        <string>ALTER TABLE track_artist ADD COLUMN album_count INTEGER DEFAULT 0;</string>
        <key>PopulateTrackArtistAlbumCount</key>
        <string>UPDATE track_artist SET album_count = (select COUNT(DISTINCT(album_pid)) FROM item WHERE item.track_artist_pid == track_artist.pid);</string>
        <key>CreateRentalExpiredColumn</key>
        <string>ALTER TABLE item_stats ADD COLUMN rental_expired INTEGER DEFAULT 0;</string>
        <key>DropTempIndexForItemArtistPid</key>
        <string>DROP INDEX idx_temp_item_artist_pid;</string>
        <key>CreateArtistSortOrderIndex</key>
        <string>CREATE INDEX item_artist_sort_order_idx ON item (artist_order,album_order,disc_number,track_number,sort_title,physical_order);</string>
        <key>CreateItemToContainerPhysicalOrderIndex</key>
        <string>CREATE INDEX item_to_container_physical_order_idx ON item_to_container (physical_order);</string>
        <key>CreateItemToContainerContainerPIDIndex</key>
        <string>CREATE INDEX item_to_container_container_pid_idx ON item_to_container (container_pid);</string>
        <key>CreateItemTitleOrderIndex</key>
        <string>CREATE INDEX item_title_order_idx ON item (title_order);</string>
        <key>CreateItemAlbumOrderIndex</key>
        <string>CREATE INDEX item_album_order_idx ON item (album_order,disc_number,track_number,artist_order,sort_title,physical_order);</string>
        <key>CreateItemGenreIdIndex</key>
        <string>CREATE INDEX item_genre_id_idx ON item (genre_id);</string>
        <key>AddComposerHasMusic</key>
        <string>ALTER TABLE composer ADD COLUMN has_music INTEGER DEFAULT 0;</string>
        <key>InsertComposerHasMusic</key>
        <string>UPDATE composer SET has_music =  (SELECT is_song FROM item WHERE item.composer_pid = composer.pid AND item.media_kind &amp; 33 LIMIT 1) IS NOT NULL;</string>
        <key>CreateAlbumSortName</key>
        <string>ALTER TABLE album ADD COLUMN sort_name TEXT;</string>
        <key>UpdateAlbumSortName</key>
        <string>UPDATE album SET sort_name = (SELECT DISTINCT sort_album from item WHERE album.pid = item.album_pid LIMIT 1);</string>
        <key>AddItemHasLyrics</key>
        <string>ALTER TABLE item ADD COLUMN has_lyrics INTEGER DEFAULT 0;</string>
        <key>UpdateItemHasLyrics</key>
        <string>UPDATE item SET has_lyrics =  (SELECT item_pid FROM lyrics WHERE item.pid = lyrics.item_pid) IS NOT NULL;</string>
        <key>AddItemDateReleased</key>
        <string>ALTER TABLE item ADD COLUMN date_released INTEGER DEFAULT 0;</string>
        <key>UpdateItemDateReleased</key>
        <string>UPDATE item SET date_released = (SELECT COALESCE(store_info.date_released, podcast_info.date_released, 0) FROM item AS item2 LEFT OUTER JOIN store_info ON item.pid = store_info.item_pid LEFT OUTER JOIN podcast_info ON item.pid = podcast_info.item_pid WHERE item2.pid = item.pid);</string>
        <key>FixUnknownTVSeries</key>
        <string>UPDATE video_info SET series_name = (SELECT item.title FROM item WHERE video_info.item_pid = item.pid) WHERE video_info.series_name IS NULL;</string>
        <key>CreateArtistsForTVSeries</key>
        <string>INSERT INTO track_artist(name, sort_name) SELECT DISTINCT video_info.series_name, video_info.sort_series_name FROM video_info, item WHERE item.pid == video_info.item_pid AND item.is_tv_show;</string>
        <key>UpdateArtistForTVSeries</key>
        <string>UPDATE item SET artist = (SELECT series_name FROM  video_info WHERE item.pid = video_info.item_pid) WHERE item.is_tv_show = 1;</string>
        <key>UpdateSortArtistForTVSeries</key>
        <string>UPDATE item SET sort_artist = (SELECT sort_series_name FROM  video_info WHERE item.pid = video_info.item_pid) WHERE item.is_tv_show = 1;</string>
        <key>UpdateTrackArtistPidForTVSeries</key>
        <string>UPDATE item SET track_artist_pid = (SELECT pid FROM track_artist WHERE item.artist = track_artist.name AND track_artist.name_order IS NULL) WHERE item.is_tv_show = 1;</string>
        <key>CreatePlayCountUserOriginal</key>
        <string>ALTER TABLE item_stats ADD COLUMN play_count_user_original INTEGER DEFAULT 0;</string>
        <key>CreateSkipCountUserOriginal</key>
        <string>ALTER TABLE item_stats ADD COLUMN skip_count_user_original INTEGER DEFAULT 0;</string>
        <key>UpdatePlayCountUserOriginal</key>
        <string>UPDATE item_stats SET play_count_user_original = play_count_user;</string>
        <key>UpdateSkipCountUserOriginal</key>
        <string>UPDATE item_stats SET skip_count_user_original = skip_count_user;</string>
        <key>DropTrackSize</key>
        <string>DROP TABLE IF EXISTS track_size_calc;</string>
        <key>CreateTrackSize</key>
        <string>CREATE TABLE track_size_calc (pid INTEGER NOT NULL, kind TEXT NOT NULL, size INTEGER NOT NULL, PRIMARY KEY (pid), UNIQUE (kind));</string>
        <key>PopulateTrackSizeAudio</key>
        <string>INSERT INTO track_size_calc ( kind, size ) SELECT 'audio' AS kind, COALESCE(SUM(location.file_size), 0) FROM location, item WHERE item.pid = location.item_pid AND item.media_kind &amp; 3146029;</string>
        <key>PopulateTrackSizeVideo</key>
        <string>INSERT INTO track_size_calc ( kind, size ) SELECT 'video' AS kind, COALESCE(SUM(location.file_size), 0) FROM location, item WHERE item.pid = location.item_pid AND item.media_kind &amp; 3682;</string>
        <key>PopulateTrackSizeMusicVideo</key>
        <string>INSERT INTO track_size_calc ( kind, size ) SELECT 'music_video' AS kind, COALESCE(SUM(location.file_size), 0) FROM location, item WHERE item.pid = location.item_pid AND item.media_kind &amp; 32;</string>
        <key>AddAlbumArtistCount</key>
        <string>ALTER TABLE album ADD COLUMN artist_count_calc INTEGER DEFAULT 0 NOT NULL;</string>
        <key>UpdateAlbumArtistCount</key>
        <string>UPDATE album SET artist_count_calc = COALESCE ((SELECT COUNT(DISTINCT item.artist_pid) FROM item WHERE item.album_pid = album.pid GROUP BY item.album_pid), 0);</string>
        <key>AddGenreMapArtistCount</key>
        <string>ALTER TABLE genre_map ADD COLUMN artist_count_calc INTEGER DEFAULT 0 NOT NULL;</string>
        <key>AddGenreMapAlbumCount</key>
        <string>ALTER TABLE genre_map ADD COLUMN album_count_calc  INTEGER DEFAULT 0 NOT NULL;</string>
        <key>UpdateGenreMapArtistCount</key>
        <string>UPDATE genre_map SET artist_count_calc = COALESCE((SELECT COUNT(DISTINCT item.track_artist_pid) FROM item WHERE item.media_kind &amp; 33 AND item.genre_id = genre_map.id GROUP BY item.genre_id), 0);</string>
        <key>UpdateGenreMapAlbumCount</key>
        <string>UPDATE genre_map SET album_count_calc  = COALESCE((SELECT COUNT(DISTINCT item.album_pid) FROM item WHERE item.media_kind &amp; 33 AND item.genre_id = genre_map.id GROUP BY item.genre_id), 0);</string>
        <key>UpdateDeviceUpdateLevelTo1100</key>
        <string>UPDATE version_info SET device_update_level = 1100;</string>
      </dict>
    </dict>
    <key>PodcastsSupported</key>
    <true/>
    <key>ChapterImageSpecs</key>
    <array>
      <dict>
        <key>FormatId</key>
        <integer>1073</integer>
        <key>RenderWidth</key>
        <integer>240</integer>
        <key>RenderHeight</key>
        <integer>240</integer>
        <key>PixelFormat</key>
        <string>4C353635</string>
        <key>Interlaced</key>
        <false/>
        <key>ColorAdjustment</key>
        <integer>0</integer>
        <key>GammaAdjustment</key>
        <real>2.2</real>
        <key>Crop</key>
        <false/>
        <key>AlignRowBytes</key>
        <true/>
        <key>BackColor</key>
        <string>00000000</string>
        <key>AssociatedFormat</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>iTunesUSupported</key>
    <true/>
    <key>PowerInformation</key>
    <dict>
      <key>WillFlash</key>
      <true/>
      <key>USB</key>
      <true/>
      <key>FireWire</key>
      <false/>
    </dict>
    <key>VoiceMemosSupported</key>
    <true/>
    <key>VoiceMemoFormats</key>
    <dict>
      <key>AppleLossless</key>
      <dict>
        <key>MaximumSampleRate</key>
        <integer>44100</integer>
      </dict>
    </dict>
    <key>UpdateMethod</key>
    <integer>3</integer>
    <key>MaxFWBlocks</key>
    <integer>16</integer>
    <key>FWPartSize</key>
    <integer>196608</integer>
    <key>Crumbs</key>
    <true/>
    <key>AutoRebootAfterFirmwareUpdate</key>
    <true/>
    <key>UpdateRetriesSupported</key>
    <true/>
    <key>ReservedMB</key>
    <integer>50</integer>
    <key>SoftReservedMB</key>
    <integer>256</integer>
    <key>VolumeFormat</key>
    <string>FAT32</string>
    <key>VolumeInformation</key>
    <dict>
      <key>HFSPLUS</key>
      <dict>
        <key>SupportedFormat</key>
        <true/>
        <key>ConversionSupported</key>
        <true/>
        <key>CurrentFormat</key>
        <false/>
      </dict>
      <key>FAT32</key>
      <dict>
        <key>SelfFormatSupport</key>
        <true/>
        <key>SupportedFormat</key>
        <true/>
        <key>ConversionSupported</key>
        <false/>
        <key>CurrentFormat</key>
        <true/>
      </dict>
    </dict>
    <key>PhotoEventsSupported</key>
    <true/>
    <key>PhotoVideosSupported</key>
    <true/>
    <key>PhotoFacesSupported</key>
    <true/>
    <key>vCardWithJPEGSupported</key>
    <true/>
    <key>LocalizedVoicePrompts</key>
    <true/>
    <key>NikeVoiceKitVersion</key>
    <integer>2</integer>
    <key>GamesPlatformID</key>
    <integer>5</integer>
    <key>GamesPlatformVersion</key>
    <integer>1</integer>
    <key>BuiltInGames</key>
    <array>
      <dict>
        <key>GUID</key>
        <string>11016</string>
        <key>Name</key>
        <string>Klondike</string>
        <key>UserDataPath</key>
        <string>CustomCardbacks</string>
        <key>Version</key>
        <string>1.1</string>
      </dict>
      <dict>
        <key>GUID</key>
        <string>11012</string>
        <key>Name</key>
        <string>Maze</string>
        <key>UserDataPath</key>
        <string></string>
        <key>Version</key>
        <string>2.0</string>
      </dict>
      <dict>
        <key>GUID</key>
        <string>11014</string>
        <key>Name</key>
        <string>Vortex</string>
        <key>UserDataPath</key>
        <string></string>
        <key>Version</key>
        <string>1.2</string>
      </dict>
    </array>
    <key>Languages</key>
    <array>
      <string>en-US</string>
      <string>en-GB</string>
      <string>ja-JP</string>
      <string>cs-CZ</string>
      <string>da-DK</string>
      <string>de-DE</string>
      <string>es-ES</string>
      <string>fr-FR</string>
      <string>el-GR</string>
      <string>it-IT</string>
      <string>hu-HU</string>
      <string>nl-NL</string>
      <string>no-NO</string>
      <string>pt-PT</string>
      <string>ru-RU</string>
      <string>pl-PL</string>
      <string>fi-FI</string>
      <string>sv-SE</string>
      <string>tr-TR</string>
      <string>ko-KR</string>
      <string>zh-CN</string>
      <string>zh-HK</string>
      <string>zh-TW</string>
      <string>ar-SA</string>
      <string>he-IL</string>
      <string>hr-HR</string>
      <string>pt-BR</string>
      <string>ro-RO</string>
      <string>sk-SK</string>
      <string>th-TH</string>
    </array>
    <key>Speakable</key>
    <dict>
      <key>Format</key>
      <string>WAV</string>
      <key>Locale</key>
      <string>en-US</string>
      <key>iPodVoices</key>
      <true/>
      <key>UICombinedStringMapFile</key>
      <string>/iPod_Control/Speakable/UISS_combined.plist.gz</string>
      <key>TASS</key>
      <string>id</string>
      <key>PLSS</key>
      <string>id</string>
      <key>OTSS</key>
      <string>hash_FNV_1_64</string>
      <key>OtherTagSpeakableStrings</key>
      <array>
        <string>Artist</string>
        <string>Album</string>
        <string>AlbumArtist</string>
        <string>Genre</string>
        <string>Composer</string>
        <string>ChapterName</string>
        <string>Track</string>
      </array>
    </dict>
    <key>SupportsGenius</key>
    <true/>
    <key>GeniusConfigMinVersion</key>
    <integer>1</integer>
    <key>GeniusMetadataMinVersion</key>
    <integer>1</integer>
    <key>GeniusSimilaritiesMinVersion</key>
    <integer>1</integer>
    <key>GeniusConfigMaxVersion</key>
    <integer>20</integer>
    <key>GeniusMetadataMaxVersion</key>
    <integer>20</integer>
    <key>GeniusSimilaritiesMaxVersion</key>
    <integer>20</integer>
    <key>SupportsGeniusMixes</key>
    <true/>
    <key>VideoCodecs</key>
    <dict>
      <key>H.264</key>
      <dict>
        <key>AppleVideoDRM</key>
        <dict>
          <key>MaximumEncryptionPercentage</key>
          <real>12.5</real>
        </dict>
        <key>AAC</key>
        <dict>
          <key>AppleDRM</key>
          <true/>
          <key>MaximumSampleRate</key>
          <integer>48000</integer>
          <key>MaximumBitRate</key>
          <integer>256</integer>
          <key>LC</key>
          <dict>
            <key>VariableBitRate</key>
            <true/>
            <key>Multichannel</key>
            <false/>
          </dict>
        </dict>
        <key>Profiles</key>
        <dict>
          <key>B</key>
          <dict>
            <key>Level</key>
            <integer>30</integer>
            <key>MaximumAverageBitRate</key>
            <integer>10000</integer>
          </dict>
        </dict>
        <key>MaximumPeakBitRate</key>
        <integer>0</integer>
        <key>MaximumResolution</key>
        <integer>414720</integer>
        <key>MinimumWidth</key>
        <integer>32</integer>
        <key>MinimumHeight</key>
        <integer>32</integer>
        <key>MaximumWidth</key>
        <integer>720</integer>
        <key>MaximumHeight</key>
        <integer>480</integer>
        <key>MaximumPixelsPerSecond</key>
        <integer>10368000</integer>
      </dict>
      <key>MPEG4</key>
      <dict>
        <key>AAC</key>
        <dict>
          <key>AppleDRM</key>
          <true/>
          <key>MaximumSampleRate</key>
          <integer>48000</integer>
          <key>MaximumBitRate</key>
          <integer>256</integer>
          <key>LC</key>
          <dict>
            <key>VariableBitRate</key>
            <true/>
            <key>Multichannel</key>
            <false/>
          </dict>
        </dict>
        <key>Profile-Level-ID</key>
        <integer>3</integer>
        <key>MaximumAverageBitRate</key>
        <integer>5000</integer>
        <key>MaximumPeakBitRate</key>
        <integer>0</integer>
        <key>MaximumBufferSize</key>
        <integer>0</integer>
        <key>MaximumResolution</key>
        <integer>307200</integer>
        <key>MinimumWidth</key>
        <integer>16</integer>
        <key>MinimumHeight</key>
        <integer>16</integer>
        <key>MaximumWidth</key>
        <integer>720</integer>
        <key>MaximumHeight</key>
        <integer>576</integer>
      </dict>
      <key>H.264LC</key>
      <dict>
        <key>AppleVideoDRM</key>
        <dict>
          <key>MaximumEncryptionPercentage</key>
          <real>6.25</real>
        </dict>
        <key>AAC</key>
        <dict>
          <key>AppleDRM</key>
          <true/>
          <key>MaximumSampleRate</key>
          <integer>48000</integer>
          <key>MaximumBitRate</key>
          <integer>256</integer>
          <key>LC</key>
          <dict>
            <key>VariableBitRate</key>
            <true/>
            <key>Multichannel</key>
            <false/>
          </dict>
        </dict>
        <key>Profile</key>
        <string>B</string>
        <key>Level</key>
        <integer>30</integer>
        <key>MaximumAverageBitRate</key>
        <integer>10000</integer>
        <key>MaximumPeakBitRate</key>
        <integer>0</integer>
        <key>MaximumResolution</key>
        <integer>307200</integer>
        <key>MinimumWidth</key>
        <integer>32</integer>
        <key>MinimumHeight</key>
        <integer>32</integer>
        <key>MaximumWidth</key>
        <integer>640</integer>
        <key>MaximumHeight</key>
        <integer>480</integer>
      </dict>
    </dict>
    <key>RentalClockBias</key>
    <integer>1766264048</integer>
  </dict>
</plist>